@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --subcolor: #04aa6a;
  --maincolor: #d0f5b8;
  --textcolor: #02764a;
  --color-footer: #d3e030;
}

body {
  background: linear-gradient(135deg, var(--maincolor), var(--color-footer));
  height: 100vh;
  width: 100vw;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Box layout mặc định (desktop) */
.box {
  display: flex;
  width: 1200px;
  height: 700px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  overflow: hidden;
}

.box2 {
  width: 50%;
  height: 100%;
  background: url("../IMG/tribit_logo_500x700.png") no-repeat center center;
  background-size: cover;
  border: solid;
}

.box1 {
  width: 50%;
  height: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.box1 .form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.box1 .form-group label {
  margin-bottom: 5px;
  display: block;
}

h2 {
  color: #02764a;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 50px;
}

label {
  font-weight: 500px;
  font-size: 18px;
}
.lb_email_check {
  transform: translateX(-135px);
}

.lb_verification_code {
  transform: translateX(-152px);
}

input {
  width: 410px;
  height: 50px;
  border-radius: 5px;
  border: none;
  border: solid var(--textcolor);
  object-fit: cover;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 0;
  margin-bottom: 40px;
}
.btn_group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.btn_sent_code,
.btn_continue {
  height: 40px;
  font-size: 20px;
  font-weight: bolder;
  border-radius: 20px;
  margin: 0 auto 10px auto; /* ← SỬA ở đây (căn giữa) */
  border: none;
  text-align: center;
  display: block;
}
.btn_sent_code {
  max-width: 300px;
}
